.body--dark {
  $color: $dark-theme-bg-light;
  .desktop.styled-scrollbar * {
    &::-webkit-scrollbar {
      right: 2px;
      border-radius: 8px;
      background-color: $color;
      width: 10px;
      height: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: lighten($color, 40);
      border-left: 1px solid lighten($color, 20);
      border-right: 1px solid lighten($color, 20);
      padding: 1px;
    }
    &::-webkit-scrollbar-track:hover {
      background: lighten($color, 55);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      right: 4px;
      border-radius: 6px;
      background-color: lighten($color, 10);
      width: 6px;
      height: 6px;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: lighten($color, 30);
    }
  }
}
