@import '../../common.variables';

.body--dark,
.dark-theme {
  .user-div {
    color: $dark-theme-fg;
    background-color: darken($dark-theme-bg, 5);
    border-bottom: 2px solid lighten($dark-theme-bg, 5);
  }

  .mini-bar {
    .user-div {
      // min-height: 3em;
      height: auto;
      padding: 0.4rem;
    }

    .user-texts {
      display: none;
    }

    .user-actions {
      display: none;
    }

    .user-avatar {
      height: 2.5em;
      width: 100%;
      align-items: center;

      .q-avatar {
        // width: 24px;
        // height: 24px;
        font-size: 32px !important;

        .q-avatar__content {
        }
      }
    }
  }
}
