@import '../../common.variables';

.q-page-container {
  .q-page {
    background-color: $light-theme-bg;
    color: $light-theme-fg;
    overflow-x: hidden;
    max-width: 100vw;
    padding-bottom: 3rem;
  }

  .last-seen-badge {
    position: absolute;
    font-size: 0.4rem;
    left: -0.8rem;
    bottom: -0.8rem;
    padding: 0rem;
    padding-bottom: 0.7rem;
    padding-left: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 35% !important;
    &.badge-positive {
      background: rgba($positive, 0.6);
    }
    &.badge-warning {
      background: rgba($warning, 0.6);
    }
    &.badge-default {
      background: rgba(#dddddd, 0.6);
    }
  }
}

.v-divide-left {
  border-left: 2px solid rgba(black, 0.1);
}

.v-divide-right {
  border-right: 2px solid rgba(black, 0.1);
}

.h-divide-top {
  border-top: 2px solid rgba(black, 0.1);
}

.h-divide-bottom {
  border-bottom: 2px solid rgba(black, 0.1);
}
.v-divide-left-dashed {
  border-left: 1px dashed rgba(black, 0.15);
}

.v-divide-right-dashed {
  border-right: 1px dashed rgba(black, 0.15);
}

.h-divide-top-dashed {
  border-top: 1px dashed rgba(black, 0.15);
}

.h-divide-bottom-dashed {
  border-bottom: 1px dashed rgba(black, 0.15);
}

.v-divide-left-dotted {
  border-left: 1px dotted rgba(black, 0.15);
}

.v-divide-right-dotted {
  border-right: 1px dashed rgba(black, 0.15);
}

.h-divide-top-dotted {
  border-top: 1px dotted rgba(black, 0.15);
}

.h-divide-bottom-dotted {
  border-bottom: 1px dashed rgba(black, 0.15);
}
.v-divide-left-thin {
  border-left: 1px solid rgba(black, 0.1);
}

.v-divide-right-thin {
  border-right: 1px solid rgba(black, 0.1);
}

.h-divide-top-thin {
  border-top: 1px solid rgba(black, 0.1);
}

.h-divide-bottom-thin {
  border-bottom: 1px solid rgba(black, 0.1);
}
